@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --blue-color: rgb(29 78 216);
  }
  .form__sections__section__input:focus {
    border-color: var(--blue-color);
  }
  .form__sections__section--invalid .form__sections__section__input {
    border-color: red;
  }
  .form__sections__section--invalid label {
    color: red;
  }
  .form__sections__section--invalid label::after {
    content: " *";
    color: red;
  }
  .form__sections__section--invalid::after {
    content: "Fill the input";
    font-size: 0.8rem;
    color: red;
  }
  .form-result--invisible {
    opacity: 0;
    transition: opacity 0.5s;
  }
  .form-result--visible {
    opacity: 1;
    transition: opacity 1s;
  }
}

@layer components {
  /* #region form */
  .form {
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    width: 80vw;
    height: fit-content;
    gap: 20px;
  }
  .form__sections {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* gap with percentage makes overflow" */
    gap: 20px;
  }
  .form__sections__section {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: space-between;
  }
  .form__sections__section__input {
    margin-left: 20px;
    outline: none;
    border: 2px solid black;
    flex-grow: 1;
  }
  .form__button-section {
    width: 100%;
  }
  .form__button-section__button {
    border: 2px solid black;
    width: 100%;
    background-color: var(--blue-color);
    color: white;
  }
  .form__button-section__button:hover {
    text-decoration: underline;
  }
  /* #endregion */
  /* #region todos */
  .todos-container {
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 60vw;
    height: 70vh;
  }
  .todos-pagination {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    border: 4px solid black;
    width: fit-content;
    height: 30px;
    line-height: 20px;
    box-shadow: 2px 2px 0px 0px black;
  }
  .todos-pagination__selector {
    border-right: 2px solid black;
    width: 45px;
    text-align: center;
    font-weight: bold;
  }
  .todos-pagination__selector--active {
    background-color: var(--blue-color);
    color: white;
  }
  .todo {
    display: grid;
    grid-template-rows: 30px 1fr;
    align-items: center;
    border: 4px solid black;
    padding: 5px 5px;
    width: 100%;
    height: 30%;
    overflow: hidden;
  }
  .todo__header {
    display: flex;
    align-items: center;
    gap: 5%;
  }
  .todo__checked {
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid black;
  }
  .todo__checked--true {
    background-color: var(--blue-color);
  }

  .todo__change {
    display: flex;
    gap: 10px;
    margin-left: auto;
    visibility: hidden;
  }
  .todo:hover .todo__change {
    visibility: visible;
    transition: visibility 0.25s;
  }
  .todo__edit {
  }

  .todo__edit__img {
    width: 22px;
    height: 22px;
    object-fit: contain;
  }

  .todo__description {
  }
}
